<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>CloudSoftware | Home</title>
    </head>
    <body>
        <header id="header">
            <div class="header-container">
                <a href="index.html" class="logo-container">
                    <img src="../assets/logo.jpg" alt="logo" class="logo-img" />
                    <span class="logo-text">CloudSoftware</span>
                </a>
                <nav class="header-nav">
                    <a href="index.html" class="underline">Home</a>
                    <a href="contact.html">Contact</a>
                </nav>
            </div>
        </header>
        <main>
            <section class="hero">
                <div class="hero-title">
                    <h1>Complete Contractor Software</h1>
                    <h2>On-site, instant proposal generation</h2>
                    <a href="#about" class="learn-more pill-btn" id="learn-more">Learn More</a>
                </div>
                <img
                    class="hero-image"
                    src="../assets/hero-image.png"
                    alt="contractor-with-tablet"
                />
            </section>
            <section class="about" id="about">
                <div class="about-title-container">
                    <h2 class="about-title">About Us</h2>
                </div>
                <div class="about-module">
                    <img
                        src="../assets/about-one.jpg"
                        alt="construction-foreman"
                        class="about-img"
                    />
                    <div class="about-bullets-container about-one">
                        <ul>
                            <li>Proposals</li>
                            <li>Pricing</li>
                            <li>Scheduling</li>
                            <li>Order Entry</li>
                            <li>CRM</li>
                        </ul>
                    </div>
                </div>
                <div class="about-module about-module-two">
                    <div class="about-bullets-container about-two">
                        <ul>
                            <li>Expenses</li>
                            <li>Sub Contractors</li>
                            <li>Standard Materials</li>
                            <li>Invoicing</li>
                            <li>Mobile Payments</li>
                        </ul>
                    </div>
                    <img 
                        src="../assets/about-two.jpg" 
                        alt="plumber" 
                        class="about-img"
                    />
                </div>
                <div class="about-module">
                    <img 
                        src="../assets/about-three.jpg" 
                        alt="businessmen" 
                        class="about-img"
                    />
                    <div class="about-bullets-container about-three">
                        <ul>
                            <li>Payroll reports</li>
                            <li>Sales Tax reports</li>
                            <li>AR</li>
                            <li>Profit Calculation</li>
                        </ul>
                    </div>
                </div>
            </section>
            <section class="contact">
                <a class="contact-btn" href="contact.html">Contact Us</a>
            </section>
        </main>
        <footer>
            <span class="footer-text">© 
				<span id="year" class="footer-text">
                    <script>
                        function displayYear() {
                            const year = document.getElementById("year");
                            year.textContent = new Date().getFullYear();
                        }
                        displayYear();
                    </script>
                </span>
				CloudSoftware</span>
        </footer>
    </body>
</html>
