@import url("https://fonts.googleapis.com/css2?family=Montserrat&family=Orbitron:wght@700&display=swap");

:root {
    --blue: #2d77be;
    --light-blue: #ddeafe;
    --box-shadow: 0 6px 6px 2px rgba(0, 0, 0, 0.25);
    --border-radius: 15px;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

h1, span.logo-text {
    font-family: "Orbitron", serif;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
}

h1 {
    font-size: 40px;
}

span.logo-text {
    font-size: 22px;
    color: white;
}

h2, p, span, a {
    font-family: "Montserrat", serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-size: 22px;
}

.contact-btn {
    font-size: 40px;
}

.copyright-txt {
    font-size: 20px;
}

/* header */
header {
    width: 100vw;
    height: 65px;
    background-color: var(--blue);
    padding-inline: 40px;
    justify-content: space-between;

    position: fixed;
}

header, .logo-container {
    display: flex;
    align-items: center;
}

.logo-container {
    gap: 15px;

    text-decoration: none;
}

.logo-container:hover {
    cursor: pointer;
}

.logo-img {
    height: 45px;
    border-radius: 5px;
}

.header-nav {
    display: flex;
    gap: 20px;

}

.header-nav a {
    position: relative;
    color: white;
    text-decoration: none;
}

.header-nav a::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: -2px;
    width: 100%;
    height: 2px;
    background-color: white;
    transform: scaleX(0);
    transform-origin: right;
    transition: transform 350ms ease-in-out;
}

.header-nav a:hover::after {
    transform: scaleX(1);
    transform-origin: left;
    cursor: pointer;
}

.header-nav a:hover {
    cursor: pointer;
}
