@import url("https://fonts.googleapis.com/css2?family=Montserrat&family=Orbitron:wght@700&display=swap");

:root {
    --blue: #2d77be;
    --light-blue: #ddeafe;
    --box-shadow: 0 6px 6px 2px rgba(0, 0, 0, 0.25);
    --border-radius: 15px;
    --content-width: clamp(800px, 70vw, 1000px);

    scroll-behavior: smooth;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

h1, span.logo-text, .about-title {
    font-family: "Orbitron", serif;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
}

h1, .about-title {
    font-size: 32px;
}

span.logo-text, .pill-btn {
    color: white;
}

h2, p, span, a, li {
    font-family: "Montserrat", serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-size: 22px;
}

main {
    background-color: white;
}

.contact-btn {
    font-size: 40px;
}

.copyright-txt {
    font-size: 20px;
}

.shadow {
    box-shadow: var(--box-shadow);
}

.underline::after {
    transform: scaleX(1) !important;
}

.pill-btn {
    --pill-btn-height: 60px;

    height: var(--pill-btn-height);
    border-radius: calc(var(--pill-btn-height) / 2);
    padding-inline: 35px;
    width: max-content;

    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;

    text-decoration: none;
    background-color: black;
}

.pill-btn:hover {
    background-color:#202427;
    cursor: pointer;
}

.pill-btn:active {
    transform: scale(0.99);
    background-color: #343a40;
}

/* header */
header {
    width: 100vw;
    height: 65px;
    background-color: var(--blue);
    position: fixed;
    top: 0;
    z-index: 9999;

    display: flex;
    justify-content: space-between;
    align-items: center;

    padding-inline: 45px;

    transition: box-shadow 500ms ease;
}

.logo-container {
    display: flex;
    align-items: center;
    gap: 15px;

    text-decoration: none;
}

.logo-container:hover {
    cursor: pointer;
}

.logo-img {
    height: 45px;
    border-radius: 5px;
}

.header-nav {
    display: flex;
    gap: 20px;

}

.header-nav a {
    position: relative;
    color: white;
    text-decoration: none;
}

.header-nav a::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: -2px;
    width: 100%;
    height: 2px;
    background-color: white;
    transform: scaleX(0);
    transform-origin: right;
    transition: transform 350ms ease-in-out;
}

.header-nav a:hover::after {
    transform: scaleX(1);
    transform-origin: left;
    cursor: pointer;
}

.header-nav a:hover {
    cursor: pointer;
}

/* Hero */
.hero {
    height: 100vh;
    width: 100vw;

    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;

    padding: 75px;
}

.hero-title {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.hero-title h1, .hero-title h2 {
    text-wrap: nowrap;
}

.hero-image {
    min-width: 600px;
    max-width: 800px;
    border-radius: var(--border-radius);
    box-shadow: var(--box-shadow);
}

/* About */
.about {
    margin: auto;
    width: var(--content-width);
    padding-block: 50px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 25px;
}

.about-title-container {
    background: linear-gradient(to bottom, 
                                rgba(221, 234, 254, 1) 0%, 
                                rgba(221, 234, 254, 0) 100%);
    display: grid;
    place-items: center;
    border-radius: 15px 15px 0 0;
    height: 100px;
    margin-bottom: 35px;
}

.about-module {
    display: flex;
    align-items: center;
}

.about-module-two {
    justify-content: flex-end;
}

.about-bullets-container {
    background-color: var(--light-blue);
    width: 350px;
    height: max-content;
    border-radius: 0 15px 15px 0;
    padding: 40px;

    box-shadow: var(--box-shadow);
}

.about-bullets-container > ul {
    margin-left: auto;
    width: max-content;
}

.about-two {
    border-radius: 15px 0 0 15px;
}

.about-two > ul {
    margin-left: 0;
    margin-right: auto;
}

.about-img {
    aspect-ratio: calc(3 / 2);
    width: 400px;
    border-image: cover;
    z-index: 99;

    border-radius: var(--border-radius);
    box-shadow: var(--box-shadow);
}

li {
    list-style-type: none;
}

li::before {
    content: '-';
}

/* Contact Us */
.contact {
    background: linear-gradient(to bottom right, #173E63, #2D77BE);
    height: 200px;
    margin-block: 100px;
    display: grid;
    place-items: center;
}

.contact-btn {
    text-decoration: none;
    color: white;
    border: 2px solid white;
    border-radius: calc(75px / 2);
    font-size: 28px;

    width: 300px;
    height: 75px;

    display: grid;
    place-items: center;
}

footer {
    height: 65px;
    background-color: var(--blue);
    display: grid;
    place-items: center;
}

.footer-text {
    color: white;
    font-size: 16px;
}

/* Contact */
.contact-section {
    display: flex;
    gap: 25px;
    align-items: center;
    justify-content: center;
    padding: 75px;

    height: 100vh;
}

.contact-img {
    min-width: 600px;
    max-width: 800px;
}

.contact-box {
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 35px 45px;

    background-color: var(--light-blue);
    border-radius: var(--border-radius);
    box-shadow: var(--box-shadow);
}
